* {
  box-sizing: border-box;
  user-select: none;
}

#overlay {
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 32px;
  background: white;
}

#overlay.overlay-hidden {
  opacity: 0;
  visibility: hidden;
}

#pile, #deck {
  float: left;
}

#pile, #deck, .card {
  width: 32px;
  height: 45px;
  border: 1px solid #111;
  background: #eee;
  margin: 4px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 12px;
}

.card {
  float: left;
}

.card .suit {
  font-size: 12px;
}

.clear {
  clear: both;
}

#community {
  min-height: 200px;
  background: #ddd;
}

.player {
  min-height: 85px;
  background: #abc;
  position: relative;
  margin-top: 4px;
  padding-top: 32px;
}

.player-name {
  background: #eee;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px;
}

.player-self .player-name {
  background: #ded;
}
